
/*Immagine di sfondo*/
#intro{
  background-image: url('https://pixabay.com/get/gb07553bb305e9200758e33bb8d2e9836c0abc744f54b0bbeb279797d78a482ee2169061a6dbcf96742496cec00893e3a_1920.jpg');
  height: 100vh;

}
@media (min-width: 576px) {
        #intro {
          margin-top: 0px;
        }
      }
/*Immagine di sfondo*/

/*Bottoni*/

.plus{
  color: #F93154;
}

.minus{
  color: #1266F1;
}

.btn{
  margin-bottom: 20px;
}
/*Bottoni*/

/*Font e distanze*/

#benvenuto{
  font-size: 3.5em;
 margin-bottom: 30px;
  
}


.indicazioni{
  margin-bottom: 30px;

}

#contiamo{
  margin-top: 10px;
  font-size: 2.5em;
  border: 5px solid;
  border-color: purple;
  background-color: yellow;
}

#corsa{
  
  font-size: 3em;
  font-weight: bold;
}
/*Font e distanze*/
